﻿
@{
    ViewBag.Title = "Body Types";
}

<script src="~/Scripts/APP/ManageBodyTypesViewModel.js"></script>

<div class="row">
    <!-- left column -->
    <div class="col-lg-8">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Add/Edit</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @*<form role="form">*@
            <div class="box-body">
                <div class="form-group">
                    <label for="txtBodyType">Name</label>
                    <input type="text" class="form-control" data-bind="value: Name" id="txtBodyType" placeholder="Body Type (e.g. Hatchback)">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: IsActive"> Is Active
                    </label>
                    <p class="help-block">Check to activate Body Type.</p>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" data-bind="click: processSave" class="btn btn-primary">Save</button>
            </div>
            @*</form>*@
        </div>
        <!-- /.box -->
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Body Types</h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 250px;">
                        <input type="text" name="table_search" data-bind="value: SearchInput" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" data-bind="click: processSearch" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Is Active</th>
                        <th></th>
                    </tr>
                    <tbody data-bind="foreach: Items">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: isActive"></td>
                            <td><button data-bind="click: $parent.processEdit">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
                <!-- /.users-list -->
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div id="loadingDiv">
                <i id="loadingIcon"></i>
            </div>
            <!-- end loading -->
        </div>
        <!-- /.box -->
    </div>
</div>



<script type="text/javascript">
    var vm = new ManageBodyTypesViewModel();
    ko.applyBindings(vm);
</script>

