﻿
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/APP/AdminViewModel.js"></script>
<div class="row">
    <div class="col-lg-10">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"><b>Test Drive Bookings Scheduled</b> </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Customer Name</th>
                            <th>Cell #</th>
                            <th>Model To Test Drive</th>
                        </tr>
                    </thead>
                    
                    <tfoot>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Customer Name</th>
                            <th>Cell #</th>
                            <th>Model To Test Drive</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.box -->
</div>
<!-- page script -->
<script>
    $(function () {
        $('#example1').DataTable({
            'dom': 'Blfrtip',
            'ajax': {
                "url": "/api/booking/getbookings",
                "type": "GET",
                "error": function (e) {
                },
                "dataSrc": ""
            },
            'columns': [
                { "data": "date" },
                { "data": "time" },
                { "data": "customerFullName" },
                { "data": "cellNumber" },
                { "data": "testDriveVehicleModel" }
            ],
            'buttons': [
                'copy', 'csv', 'excel', 'pdf'
            ],
            'paging': true,
            'lengthChange': true,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        })
    })
</script>

<script type="text/javascript">
    var vm = new AdminViewModel();
    ko.applyBindings(vm);
</script>

