﻿@{
    ViewBag.Title = "Vehicles";
}

<script type="text/javascript" src="~/Scripts/App/HomeViewModel.js"></script>
<div class="row">
    <div class="col-lg-10">
        <div class="box box-solid">

            <!-- /.box-header -->
            <div class="box-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="https://cdn.goodfind.guru/wp-content/uploads/2018/05/23181541/shutterstock_1095092900-900x500.jpg" alt="Book A Test Drive With Us">

                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="item">
                            <img src="http://licatinoscollision.com/wp-content/uploads/2013/11/couple-car-900x500.jpg" alt="Let's Navigate">

                            <div class="carousel-caption">
                                Book A Test Drive With Us
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://www.dealerware.com/wp-content/uploads/2018/04/resources-900x500.png" alt="Third slide">

                            <div class="carousel-caption">
                                Take A Journey To Your Next Car
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 250px;">
                <input type="text" name="table_search" data-bind="value: SearchInput" class="form-control pull-right" placeholder="Search">

                <div class="input-group-btn">
                    <button type="submit" data-bind="click: processSearch" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="card">
            <ul class="users-list clearfix" data-bind="foreach: Vehicles">
                <li class="w3-panel w3-card">
                    <div class="card">
                        <img data-bind="attr:{src: image}" alt="Avatar" style="width:250px; height:250px; border-radius:0px">
                        <h4 data-bind="text: name" style="font-weight: bolder"></h4>
                        <p data-bind="text: year"></p>
                        <button type="submit" data-bind="click: $root.showModal.bind($root)" class="btn btn-google">Book Test Drive</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Book an Appointment</h4>
                </div>
                <div class="modal-body">
                    <!-- Date -->
                    <div class="form-group">
                        <label>Date:</label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" data-bind="value: Date" class="form-control pull-right" id="datepicker">
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                    <!-- time Picker -->
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>Time picker:</label>

                            <div class="input-group">

                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input type="text" data-bind="value: Time" class="form-control timepicker">
                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                    </div>

                    <br />
                    <label data-bind="text: ConfirmationText"></label>

                    <!-- Loading (remove the following to stop the loading)-->
                    <div id="loadingDiv">
                        <i id="loadingIcon"></i>
                    </div>
                    <!-- end loading -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" data-dind="click: $root.processSave.bind($root)" id="btnSubmit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<script>
    //Date picker
    $('#datepicker').datepicker({
        autoclose: true
    })

    //Timepicker
    $('.timepicker').timepicker({
        showInputs: false
    })
</script>
<script type="text/javascript">
    var viewModel = new HomeViewModel();
    ko.applyBindings(viewModel);
</script>
